<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Créditos</title>
  <link rel="stylesheet" th:href="@{/css/style-creditos.css}" />
</head>
<body>
<h1>Créditos</h1>

<div class="credits-container">
  <div class="member">
    <h2>Arthur Benevides dos Santos</h2>
    <p>082230016</p>
  </div>
  <div class="member">
    <h2>Guilherme Matheus Teixeira Costa</h2>
    <p>081240041</p>
  </div>
  <div class="member">
    <h2>Juan Hernandes Haddad Pavani</h2>
    <p>081240043</p>
  </div>
  <div class="member">
    <h2>Murillo Ando Zambolin</h2>
    <p>082240042</p>
  </div>
</div>

<a href="/" class="btn-voltar">Voltar ao Menu</a>
</body>
</html>
