<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simular Onda</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Simulação da Onda Transversal</h1>

<form action="#" th:action="@{/simularOnda}" method="get">
    <label for="frequencia">Frequência (Hz):</label>
    <input type="number" step="0.01" name="frequencia" id="frequencia" min="0" max="0.5" required>

    <label for="comprimentoOnda">Comprimento de Onda (m):</label>
    <input type="number" step="0.01" name="comprimentoOnda" id="comprimentoOnda" min="0.2" max="2" required>

    <label for="duracao">Duração (s):</label>
    <input type="number" name="duracao" id="duracao" min="1" max="10" required>

    <label for="erroMaximo">Erro Máximo:</label>
    <input type="number" name="erroMaximo" id="erroMaximo" step="any" max="1" required>

    <button type="submit">Simular</button> <a href="/" class="btn-voltar">Voltar ao Menu</a>
</form>
</body>
</html>
