<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gráfico da Onda Transversal</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        const parametrosSimulacao = {
            frequencia: [[${frequencia}]],
            comprimentoOnda: [[${comprimentoOnda}]],
            duracao: [[${duracao}]],
            erroMaximo: [[${erroMaximo}]]
        };
    </script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Gráfico da Onda Transversal</h1>
<div class="grafico-container">
    <canvas id="graficoOnda"></canvas>
</div>

<br>
<a href="/" class="btn-voltar">Voltar ao Menu</a>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
