<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gráfico da Onda Transversal</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        // Inicializando as variáveis usando Thymeleaf
        const parametrosSimulacao = {
            id_simulacao: [[${id_simulacao}]],
            frequencia: [[${frequencia}]],
            comprimentoOnda: [[${comprimentoOnda}]],
            duracao: [[${duracao}]],
            erroMaximo: [[${erroMaximo}]]
        };
    </script>
    <link rel="stylesheet" th:href="@{/css/style-grafico.css}" />
</head>
<body>
<h1>Gráfico da Onda Transversal</h1>

<div class="grafico-container">
    <canvas id="graficoOnda"></canvas>
</div>

<form id="tempoForm" onsubmit="mostrarPontoNoTempo(); return false;">
    <label for="tempo">Escolha o tempo para vermos o ponto <br>(0 a 10 segundos, de 0.1 em 0.1): </label>
    <input type="number" id="tempo" min="0" max="10" step="0.1" placeholder="Ex: 1.5">
    <button type="button" onclick="mostrarPontoNoTempo()">Mostrar Ponto</button>
</form>

<div class="botoes">
    <a href="/" class="btn-voltar">Voltar ao Menu</a>
    <a href="/historico" class="btn-voltar">Acessar Histórico</a>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
